<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>AuthService - Home</title>
</head>
<body>
	Hello World, I am the Authentication Service!
	<br/>
	<h2>Public Resources</h2>
	<a href="/ui/public/users/">Public Local Resource - Users</a>
	<br/>
	<a href="/ui/public/posts">Posts from Basic Service - Client Credentials Flow</a>
	
	<hr />
	<h2>Restricted Resources</h2>
	<a href="/ui/users/">Protected Resource - Users</a>
	<br/>
	<a href="/ui/users/posts">Posts from Basic Service - Authorization code Flow</a>
	
	<h2>Social Login</h2>
	<a href="/social/authorization/facebook">
		<span class="g-hidden-xs-down">Login with</span> Facebook
	</a>
	
</body>
</html>