<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Basic Service - Home</title>
</head>
<body>
	Hello World, I am the basic Service!
	<br />
	<h2>Public Resources</h2>
		<a href="/ui/public/posts/">Public Local Resource - Posts</a>
		<br/>
		<a href="/ui/public/activeUsers">Active Users from Auth Service - Client Credentials Flow</a>
	<h2>Restricted Resources</h2>
		<a href="/ui/posts/">Protected Resource - Posts</a>
		<br/>
		<a href="/ui/posts/allUsers">All Users from Auth Service - Authorization code Flow</a>
</body>
</html>